:root {
    --primary-color: #0b3c5d;
    --secondary-color: #328cc1;
    --accent-color: #d9b310;
    --text-color: #ffffff;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: var(--primary-color);
    padding: 16px;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--primary-color);
    color: var(--text-color);
}

header,
main,
footer {
    width: 840px;
    margin: 0 auto;
}

header {
    color: var(--accent2-color);
    background-color: var(--primary-color);
}

p,
article {
    margin: 10px;
    padding: 8px;
}

section {
    margin: 24px 0;
}

h1,
h2 {
    font-family: var(--heading-font);
    color: var(--primary-color);
}

.hero {
    position: relative;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    width: 100%;
    padding: 16px;
    text-align: center;
    background-color: rgba(0, 51, 102, 0.7);
    color: var(--accent-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    left: 20px;
    background-color: rgba(11, 60, 93, 0.8);
    color: white;
    padding: 16px;
    max-width: 750px;
}

.hero article img {
    float: right;
    width: 125px;
    margin-left: 12px;
}

section h2 {
    background-color: var(--primary-color);
    color: white;
    padding: 12px;
    text-align: center;
}

footer {
    text-align: center;
    padding: 15px;
}

.socialmedia {
    text-decoration: none;
}
