* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.6;
    padding: 20px;
    color: black;
}

nav {
    background-color: darkblue;
    padding: 10px;
}

nav a {
    color: white;
    display: block;
    padding: 20px;
}

main {
    max-width: 800px;
    margin: 20px auto;
}

h1 {
    color: darkblue;
    margin-bottom: 10px;
}

main img {
    width: 150px;
    height: auto;
    border: 1px solid black;
    padding: 2px;
    box-shadow: 0 0 30px gray;
    margin-bottom: 10px;
}

p {
    padding: 0;
    margin-bottom: 15px;
}

aside {
    width: 300px;
    margin: 20px;
    border: 1px solid rgba(0, 0, 0, 0.3);
    padding: 15px;
    background-color: white;
    color: black;
    text-align: center;
}

aside img {
    width: 200px;
    height: auto;
    margin: 10px 0;
}

footer {
    margin-top: 1em;
    border-top: 1px solid blue;
    text-align: center;
    padding-top: 10px;
}